/*HEADER*/
header {
    margin-top: 0;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 25px;
    border-bottom: solid 1px black;
}

.carro {
    display: flex;
    justify-content: center;
}
.carro img{
    text-align: center;
    width: 45px ;
    height: 45px;
}

.logo {
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    color: black;
}

.logo:hover {
    color:  #F6E3CA;
    transition-delay: 100ms;
}

.boton-busc:hover {
    background-color: #F6E3CA;
}

.busc {
    display: flex;
    justify-content: center;
}


/*FIN TOP-MENU*/