@media screen and (max-width:700){
    .toggle-menu {
        display: none;
    }
    .menu>nav>ul {
        margin: 0;
        padding: 0;
        height: 100%;
        list-style: none;
        @include flexbox(flex, center, column, center);
    }
}