@mixin flexbox ($display, $jc, $direction, $ai) {
    display: $display;
    justify-content: $jc;
    flex-direction: $direction;
    align-items: $ai;
}

/*Lista horizontal*/
.menu {
    height: 100%;
    position: sticky;
    top:0px;
}

nav {
    margin: 0px;
    padding: 0px;
    @include flexbox(flex, space-around);
    height: 100%;
}

.menu>nav>ul {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
    @include flexbox(flex, center);
}

.menu>nav>ul>li {
    text-align: center;
    position: relative;
    height: 100%;
}

.menu>nav>ul>li>a {
    @include flexbox(flex, flex-start, row, center);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-family: $cursi;

    width: 100%;
    height: 100%;
    color: black;
    padding: 15px 15px;
    transition: all 300ms ease;
}

.menu>nav>ul>li>a:hover {
    transform: scale(1.1);
    background-color: #F6E3CA;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/*SUBMENU*/
.submenu {
    @include flexbox(flex, column);
    width: 150px;
    list-style: none;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 80px;
    left: -5px;
    padding: 15px 0px;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    transition: all 300ms ease;
}

.menu>nav>ul>li:hover>.submenu {
    visibility: visible;
    opacity: 1;
    top: 50px;
}

.submenu>li>a {
    display: block;
    padding: 8px;
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-family: $cursi;

    text-transform: uppercase;
    transition: all 300ms ease;
}

.submenu>li>a:hover {
    background: #F6E3CA;
    color: black;
    transform: scale(1.0);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}